<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active"><a routerLink="/entradas">Entradas</a></li>
    <li class="breadcrumb-item active">{{ tituloDaPagia }}</li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="col-md-9">
    <h1 class="h2 border-left pl-2">
      {{ tituloDaPagia }}
    </h1>
  </div>
  <div class="col-md-3">
    <a routerLink="/entradas" class="btn btn-light float-right">Voltar</a>
  </div>
</div>

<form [formGroup]="resourceForm" (submit)="submitFormValidar()">
  <div class="card">
    <div class="card-header">
      Informações sobre o lançamento
    </div>

    <div class="card-body">      
      <div class="form-row">
        <!-- Tipo -->
        <div class="form-group col-md-2">
          <label for="type">Tipo</label>
          <select class="form-control" id="type" name="type" formControlName="tipo">
            <option *ngFor="let option of tipoOptions" [value]="option.value">{{ option.text}}</option>
          </select>
          <div class="text-danger" *ngIf="resourceForm.get('tipo').invalid && resourceForm.get('tipo').touched">
            <div *ngIf="resourceForm.get('tipo').errors.required">dado obrigatório</div>            
          </div>
        </div>
      
        <!-- nome/lançamento -->            
        <div class="form-group col-md-5">
          <label for="name">Lançamento</label>
          <input type="text" class="form-control" id="nome" formControlName="nome">
          <div class="text-danger" *ngIf="resourceForm.get('nome').invalid && resourceForm.get('nome').touched">
            <div *ngIf="resourceForm.get('nome').errors.required">dado obrigatório</div>
            <div *ngIf="resourceForm.get('nome').errors.minlength">deve ter no mínimo 2 caracteres</div>
          </div>
        </div>
        <!--Valor R$-->
        <div class="form-group col-md-3">
          <label for="valor">Valor</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">R$</div>
            </div>
            <input [imask]="imaskConfig" type="text" class="form-control text-right" id="valor" formControlName="valor">
            <div class="text-danger" *ngIf="resourceForm.get('valor').invalid && resourceForm.get('valor').touched">
              <div *ngIf="resourceForm.get('valor').errors.required">dado obrigatório</div>              
            </div>            
          </div>
        </div>  
        
        <!--Data-->
        <div class="form-group col-md-2">
          <label for="data">Data</label>
          <p-calendar
            id="data"
            formControlName="data"
            inputStyleClass="form-control"
            dataType="string"
            dateFormat="dd/mm/yy"
            [locale]="ptBR"
            [showButtonBar]="true"
          >
          </p-calendar>
            <div class="text-danger" *ngIf="resourceForm.get('data').invalid && resourceForm.get('valor').touched">
              <div *ngIf="resourceForm.get('data').errors.required">dado obrigatório</div>              
            </div>            

        </div>          
      </div>
      <div class="form-row">
        <!--Pago-->
        <div class="form-group col-md-2">
          <label for="valor">Pago</label>
            <div class="btn-group">
              <label (click)="resourceForm.get('pago').setValue(true)" [class.active]="resourceForm.get('pago').value == true" class="btn btn-outline-info">
                Pago
              </label>
              <label (click)="resourceForm.get('pago').setValue(false)" [class.active]="resourceForm.get('pago').value == false" class="btn btn-outline-info">
                Pendente
              </label>

            </div>
            <div class="text-danger" *ngIf="resourceForm.get('pago').invalid && resourceForm.get('pago').touched">
              <div *ngIf="resourceForm.get('pago').errors.required">dado obrigatório</div>              
            </div>            

        </div>         
        <!-- Categoria -->
        <div class="form-group col-md-3">
          <label for="categoriaId">Categoria</label>
          <select class="form-control" id="categoriaId" name="categoriaId" formControlName="categoriaId">
            <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nome }}</option>            
          </select>
          <div class="text-danger" *ngIf="resourceForm.get('categoriaId').invalid && resourceForm.get('categoriaId').touched">
            <div *ngIf="resourceForm.get('categoriaId').errors.required">dado obrigatório</div>            
          </div>
        </div>        
        <div class="form-group col-md-7">
          <label for="name">Descrição</label>
          <input type="text" class="form-control" id="descricao" formControlName="descricao">
        </div>

      </div>      
    </div>
  </div>

  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
    <strong>Erro no servidor:</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessages">
        {{ error }}
      </li>
    </ul>
  </div>

  <button type="submit" class="btn btn-primary btn-lg float-right mt-3">Salvar</button>
</form>